@using Mtc.Domain.Models
@model Mtc.WebClient.Models.TasksBoardViewModel
@{
    ViewBag.Title = "Дъска със задачи";
    int maxTasks = Math.Max(Model.InProgressTasks.Count(), Math.Max(Model.DoneTasks.Count(), Model.ToDoTasks.Count()));
    var maxRows = (int)Math.Ceiling((double)maxTasks / 2);
}
<div class="row">
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-default">Незапочнати задачи</span></h3>
    </div>
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-warning">Задачи в процес</span></h3>
    </div>
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-success">Завършени задачи</span></h3>
    </div>
</div>

@for (int i = 0; i < maxRows; i++)
{
    <div class="row">
        @if (Model.ToDoTasks.Count() - i * 2 > 0)
        {
            Task task = Model.ToDoTasks[i * 2];
            <div class="col-lg-4">
                <div class="col-lg-6">
                    <div class="panel @task.TaskState.ToString().ToLower()">
                        <div class="panel-heading">@task.Title</div>
                        <div class="panel-body" data-toggle="modal" data-target="#myModal">
                            @task.Order) @task.Section.Content.Title
                            <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                @if (Model.ToDoTasks.Count() >= (i + 1) * 2)
                {
                    task = Model.ToDoTasks[i * 2 + 1];
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">@task.Title</div>
                            <div class="panel-body" onclick="NavigateToWritingModule(@task.Id)">
                                @task.Order) @task.Section.Content.Title
                                <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-6"></div>
                }
            </div>
        }
        else
        {
            <div class="col-lg-4">
                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>
            </div>
        }
        @if (Model.InProgressTasks.Count() - i * 2 > 0)
        {
            Task task = Model.InProgressTasks[i * 2];
            <div class="col-lg-4">
                <div class="col-lg-6">
                    <div class="panel @task.TaskState.ToString().ToLower()">
                        <div class="panel-heading">@task.Title</div>
                        <div class="panel-body" onclick="NavigateToWritingModule(@task.Id)">
                            @task.Order) @task.Section.Content.Title
                            <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                @if (Model.InProgressTasks.Count() >= (i + 1) * 2)
                {
                    task = Model.InProgressTasks[i * 2 + 1];
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">@task.Title</div>
                            <div class="panel-body" onclick="NavigateToWritingModule(@task.Id)">
                                @task.Order) @task.Section.Content.Title
                                <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-6"></div>
                }
            </div>
        }
        else
        {
            <div class="col-lg-4">
                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>
            </div>
        }
        @if (Model.DoneTasks.Count() - i * 2 > 0)
        {
            Task task = Model.DoneTasks[i * 2];
            <div class="col-lg-4">
                <div class="col-lg-6">
                    <div class="panel @task.TaskState.ToString().ToLower()">
                        <div class="panel-heading">@task.Title</div>
                        <div class="panel-body" onclick="NavigateToWritingModule(@task.Id)">
                            @task.Order) @task.Section.Content.Title
                            <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                @if (Model.DoneTasks.Count() >= (i + 1) * 2)
                {
                    task = Model.DoneTasks[i * 2 + 1];
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">@task.Title</div>
                            <div class="panel-body" onclick="NavigateToWritingModule(@task.Id)">
                                @task.Order) @task.Section.Content.Title
                                <span class="glyphicon @task.TaskState.ToString().ToLower()-icon pull-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-6"></div>
                }
            </div>
        }
        else
        {
            <div class="col-lg-4">
                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>
            </div>
        }
    </div>
}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
    function NavigateToWritingModule(taskId) {
        window.location.href = '@Url.Action("WritingModule", "Document")?taskId=' + taskId;
    };

        $('#myModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text('New message to ' + recipient);
        modal.find('.modal-body input').val(recipient);
    });
    </script>
}