@model Mtc.WebClient.Models.WriteContentViewModel
@{
    ViewBag.Title = "Писане";
}
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">@Model.TaskTitle : @Model.SectionTitle</h3></div>
    <div class="panel-body">
        @using (Html.BeginForm("WriteContent", "Document", FormMethod.Post, new { id = "createDocumentForm", @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "col-lg-2 label-panel control-label" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = @Model.SectionTitle } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Keywords, new { @class = "col-lg-2 label-panel control-label" })
                <div class="col-lg-9">
                    @if (Model.Keywords.Any())
                    {
                        foreach (var keyword in Model.Keywords)
                        {
                            <span class="label label-primary">@keyword.Name</span>
                        }
                    }
                    else
                    {
                        <span class="label label-primary">Нямате добавени ключови думи</span>
                    }
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="modal" data-target="#keywordsModal"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MainText, new { @class = "col-lg-2 label-panel control-label" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.MainText, new { htmlAttributes = new { rows = 20, @class = "form-control", @placeholder = @Model.MainText } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8">
                    <div style="float:left;" class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="getGeneratedSectionDocument(@Model.CurrentSectionContentId, 'txt') ">txt</button>
                        <button type="button" class="btn btn-primary" onclick="getGeneratedSectionDocument(@Model.CurrentSectionContentId, 'docx') ">docx</button>
                        <button type="button" class="btn btn-primary" onclick="getGeneratedSectionDocument(@Model.CurrentSectionContentId, 'pdf') ">pdf</button>
                    </div>
                </div>

                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary pull-right" id="save">
                        @if (Model.IsDisabled)
                        {
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            <span>Обратно към задачите</span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            <span>Запазване</span>
                        }
                    </button>
                </div>
            </div>

            @Html.HiddenFor(x => x.CurrentTaskId, new { id = "CurrentTaskId" })
            @Html.HiddenFor(x => x.CurrentSectionContentId, new { id = "CurrentSectionContentId" })
            @Html.HiddenFor(x => x.IsDisabled, new { id = "IsDisabled" })
            @Html.HiddenFor(x => x.DocumentId, new { id = "DocumentId" })
        }
    </div>
</div>

<!-- Modal -->
<div id="keywordsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Управлявайте ключови думи</h4>

            </div>
            <div class="modal-body">
                <label id="error-message" class="label label-danger"></label>
                <p id="modal-text">Настоящи ключови думи.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                <button type="submit" class="btn btn-primary" id="add" value="3">Добави</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/common")

    <script>
        function OpenKeywordsModal() {
            
        }

        function getGeneratedSectionDocument(sectionContentId, type) {
            if (type == 'docx') {
                window.location = "/Document/GetDocxSectionContent?sectionContentId=" + sectionContentId;
            } else if (type == 'txt') {
                window.location = "/Document/GetTxtSectionContent?sectionContentId=" + sectionContentId;
            } else if (type == 'pdf') {
                window.location = "/Document/GetPdfSectionContent?sectionContentId=" + sectionContentId;
            }
        }

        $(document).ready(function() {
            if (@Model.IsDisabled.ToString().ToLower() == true) {
                $('#MainText').attr('disabled', 'disabled');
                $('#Title').attr('disabled', 'disabled');
            };
        });
    </script>
}
