@model Mtc.WebClient.Models.WriteContentViewModel
@{
    ViewBag.Title = "Писане";
}
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">@Model.TaskTitle</h3></div>
  <div class="panel-body">
      @using (Html.BeginForm("WriteContent", "Document", FormMethod.Post, new {id = "WriteContentForm", @class = "form-horizontal"}))
      {
          <div class="form-group">
              <label for="subtitle" class="col-lg-2 label-panel control-label">Подсекция</label>
              <div class="col-lg-9">
                  <input type="text" class="form-control" id="subtitle" placeholder="@Model.SectionTitle" value="@Model.Title" />
                  @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = @Model.SectionTitle } })
              </div>
          </div>
          <div class="form-group">
              <label for="maintext" class="col-lg-2 label-panel control-label">Основен текст</label>
              <div class="col-lg-9">
                  <textarea class="form-control" rows="20" id="maintext">@Model.MainText</textarea>
              </div>
          </div>
          <div class="form-group">
              <div class="col-lg-11">
                  <button type="submit" class="btn btn-primary pull-right">
                      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Запазване
                  </button>
              </div>
          </div>

        @Html.HiddenFor(x => x.CurrentTaskId, new { id = "CurrentTaskId" })
      }
  </div>
</div>
  @section scripts{
    @Scripts.Render("~/bundles/common")
  }
