@model Edc.WebClient.Models.DocumentsViewModel
@{
    ViewBag.Title = "Документи за проверка";
}

<h2>Документи за проверка</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Автор</th>
            <th>Настоящ прогрес</th>
            <th>Прегледай задачи</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            <tr>
                <td><div><span class="glyphicon @document.DocumentState.ToString().ToLower()-document-icon pull-right" aria-hidden="true"></span></div>@document.Title</td>
                <td>@document.Author</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar @document.DocumentState.ToString().ToLower()-progress-document" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @document.CurrentProgress%;">
                            @document.CurrentProgress%
                        </div>
                        </div>
                </td>
                <td>@Html.ActionLink("Виж задачи", "TaskBoard", "Tasks", new { documentId = document.Id, isAdmin = true }, null)</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{

}
