@model Mtc.WebClient.Models.TasksBoardViewModel
@{
    ViewBag.Title = "Дъска със задачи";
    var maxTasks = Math.Max(Model.InProgressTasks.Count(), Math.Max(Model.DoneTasks.Count(), Model.ToDoTasks.Count()));
    var maxRows = (int) Math.Ceiling((double)maxTasks / 2);
}
<div class="row">
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-default">Незапочнати задачи</span></h3>
    </div>
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-warning">Задачи в процес</span></h3>
    </div>
    <div class="col-lg-4">
        <h3 class="text-center"><span class="label label-success">Завършени задачи</span></h3>
    </div>
</div>

@for (int i = 0; i < maxRows; i++)
{
    <div class="row">
        @if (Model.ToDoTasks.Count() - i*2 > 0)
        {
            var task = Model.ToDoTasks[i*2];
            <div class="col-lg-4">
                <div class="col-lg-6">
                    <div class="panel @task.TaskState.ToString().ToLower()">
                        <div class="panel-heading">@task.Title</div>
                        <div class="panel-body">@task.Section.Content.Title
                            <span style="font-size: 1.5em; color: #428bca;" class="@task.TaskState.ToString().ToLower()" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                @if (Model.ToDoTasks.Count()>=(i+1)*2)
                {
                    task = Model.ToDoTasks[i*2 + 1];
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">@task.Title</div>
                            <div class="panel-body">
                                @task.Section.Content.Title
                                <span style="font-size: 1.5em; color: #428bca;" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}

<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    Избор на критерии за сравнение
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    Подходи, методи за решаване на проблемите
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    Основни дефиниции
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Увод</div>
                <div class="panel-body">
                    Структура на дипломната работа
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Увод</div>
                <div class="panel-body">
                    Цел и задачи на дипломната работа
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Увод</div>
                <div class="panel-body">
                    Актуалност на проблема и мотивация
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    Съществуващи решения
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Преглед</div>
                <div class="panel-body">
                    Съществуващи решения
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        
    </div>
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">Увод</div>
                <div class="panel-body">
                    Очаквани ползи от реализацията
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">Използвани технологии</div>
                <div class="panel-body">
                    Изисквания към средствата
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">Използвани технологии</div>
                <div class="panel-body">
                    Видове средства и начин и място за използването им – сравненителен анализ
                    <span style="font-size:1.5em;color: #428bca;" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
   
@section scripts{
    
}