@model Edc.WebClient.Models.PersonsViewModel
@{
    ViewBag.Title = "Регистрирани потребители";
}

<h2>Документи за проверка</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Email адрес</th>
            <th data-checkbox="true">Админ</th>
            <th data-checkbox="true">Ръководител</th>
        </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.AllUsers.Count; i++)
    {
            <tr>
                <td>@Model.AllUsers[i].Name</td>
                <td>@Model.AllUsers[i].Email</td>
                <td>
                        @Html.CheckBoxFor(m => @Model.AllUsers[i].IsAdmin)
                </td>
                <td>
                        @Html.CheckBoxFor(m => @Model.AllUsers[i].CanBeMentor)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
